.room-list {
  grid-row: roomlist-start / roomlist-end;
  grid-column: roomlist-start / roomlist-end;
  display: flex;
  flex-direction: column;
  position: relative;

  &__heading {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  &__buttons {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &--retro {
    border: 2px solid #7b7b7b;
    background-color: white;
  }
}

.room-box {
  list-style: none;
  font-size: 1.6rem;

  padding: 0.2rem 0;
  padding-left: 0rem;
  cursor: pointer;
  &__link {
    text-decoration: none;
    color: black;
  }
  &:hover,
  &:hover &__link {
    background-color: #4220a3;
    color: white;
  }
}
