.room-list {
  grid-row: roomlist-start / roomlist-end;
  grid-column: roomlist-start / roomlist-end;
  display: flex;
  flex-direction: column;
  position: relative;

  &__heading {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  &__buttons {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &--retro {
    border: 2px solid #7b7b7b;
    background-color: white;
  }
  &--modern {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
  }
}

.room-box {
  list-style: none;
  font-size: 1.4rem;

  padding: 0.7rem 0 0.7rem 0.5rem;
  text-align: left;
  cursor: pointer;

  &--retro {
    &:hover {
      background-color: #4220a3;
      color: white;
    }
  }
  &--modern {
    font-size: 1.2rem;
    background-color: #4220a3;
    margin: 0.1rem 0;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    &:hover {
      background-color: #fcc82e;
      color: black;
    }
  }

  &__link {
    text-decoration: none;

    &--retro {
      color: black;
    }
  }
}
