.app {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__background--retro {
    background-image: url("./assets/img/app__background--retro.png");
    background-size: cover;
  }
  &__background--modern {
    background-color: blue;
  }
}
