@font-face {
  font-family: "Fixedsys Excelsior 3.01";
  src: local("Fixedsys Excelsior 3.01"),
    url("./assets/fonts/FSEX300.ttf") format("truetype");
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Fixedsys Excelsior 3.01";
  font-weight: 300;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
