.chat-list {
  grid-row: chatlist-start/chatlist-end;
  grid-column: chat-start/chat-end;

  font-size: 1.6rem;
  padding: 1rem;

  overflow-y: scroll;
  position: relative;

  &--retro {
    background-color: white;
    border: 2px solid #7b7b7b;
  }
}

.empty-scroll-box {
  display: hidden;
}
