.chat {
  &__form {
    grid-row: chatinput-start/chatinput-end;
    grid-column: chat-start/chat-end;
  }
  &__input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;

    padding: 0.5rem 5rem 0.5rem 2rem;

    overflow-y: scroll;
    &--retro {
      border: 2px solid #7b7b7b;
      font-size: 1.7rem;
    }
    &--modern {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border-radius: 3px;
      font-size: 1.5rem;
    }
  }
}
